![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Real Estate en USA"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "El objetivo principal del EXPLORATORY DATA ANALYSIS es identificar y entender la relación entre el mercado inmobiliario, los tipos de intereses marcados por la Reserva Federal y la tasa de desempleo antes/durante y después de la crisis económica del 2008."

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "¿El mercado inmobiliario daba indicios de la burbuja especulativa que se estaba creando durante los años previos a la crisis?"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "¿Se podrían haber evitado o, al menos, podrían haberse disminuido, los efectos de la crisis a través de políticas económicas?"
hipotesis_3 = "¿Guardan correlación el mercado inmobiliario con las tasas de desempleo?"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv("./data/RealEstate_Sales_2001-2020.csv")
fuente_1 = "Kaggle"
df_2 = pd.read_excel("./data/InterestRate_2000-2023.xlsx")
fuente_2 = "https://datosmacro.expansion.com/tipo-interes/usa"
# df_3 = pd.DataFrame(tasa desempleo)
# fuente_3 = "wip"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [2]:
# Primer dataset
df_1.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Nan,1
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,0
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,1
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,1
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,1

In [3]:
# Siguiente dataset...
df_2.head()

       Fecha  Tipos de interés
0 2022-03-17            0.0025
1 2020-03-16            0.0000
2 2020-03-03            0.0100
3 2019-10-31            0.0150
4 2019-09-19            0.0175