![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [3]:
#Escribe el título del proyecto en Markdown
titulo = "Real Estate en USA"

### TEMA

In [4]:
# Describe brevemente el tema del proyecto en Markdown
tema = "El objetivo principal del EXPLORATORY DATA ANALYSIS es identificar y entender la relación entre el mercado inmobiliario, los tipos de intereses marcados por la Reserva Federal y la tasa de desempleo antes/durante y después de la crisis económica del 2008."

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [5]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "¿El mercado inmobiliario daba indicios de la burbuja especulativa que se estaba creando durante los años previos a la crisis?"

In [6]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "¿Se podrían haber evitado o, al menos, podrían haberse disminuido, los efectos de la crisis a través de políticas económicas?"
hipotesis_3 = "¿Guardan correlación el mercado inmobiliario con las tasas de desempleo?"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [10]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv("./data/RealEstate_Sales_2001-2020.csv")
# fuente_1 = "Kaggle"
df_2 = pd.read_excel("./data/Rates_2001-2021.xlsx")
# fuente_2 = "https://datosmacro.expansion.com/tipo-interes/usa"
df_3 = pd.read_excel("./data/uscities.xlsx")
# fuente_3 = "https://simplemaps.com/data/us-cities"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [11]:
# Primer dataset
df_1.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Nan,1
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,0
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,1
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,1
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,1

In [12]:
# Segundo dataset con los tipos de interés, inflación anual y tasa de desempleo.
df_2.head()

        Date  Interest Rate  Inflation  Unemployment
0 2001-01-01          0.065   0.028262        0.0473
1 2001-01-02          0.065   0.028262        0.0473
2 2001-01-03          0.060   0.028262        0.0473
3 2001-01-04          0.060   0.028262        0.0473
4 2001-01-05          0.060   0.028262        0.0473

In [14]:
# Tercer dataset con las ciudades pertenecientes a cada estado.
df_3.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11226.2,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3202.3,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4648.7,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4728.2,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1382.2,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925