In [2]:
import pandas as pd

In [3]:
df_int=pd.read_excel("./data/InterestRate_2000-2023.xlsx")
df_int

        Fecha  Tipos de interés
0  2023-07-27            0.0525
1  2023-05-04            0.0500
2  2023-03-23            0.0475
3  2023-02-02            0.0450
4  2022-12-15            0.0425
..        ...               ...
61 2001-04-18            0.0450
62 2001-03-20            0.0500
63 2001-01-31            0.0550
64 2001-01-03            0.0600
65 2000-05-16            0.0650

[66 rows x 2 columns]

In [4]:
df_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha             66 non-null     datetime64[ns]
 1   Tipos de interés  66 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.2 KB